@import "tailwindcss";

@theme{
    --animate-slide-show: slide-show 40s linear infinite;

    @keyframes slide-show {
        0% { transform: translateX(0); } /* Show first slide */
        100% { transform: translateX(-650%); }/* Back to first slide */
}

}